{% extends "base.html" %}
{% load i18n %}

{% block title %} - {% trans "Forbidden" %}{% endblock %}

{% block content %}
  <div id="right_content">
    <div id="page_head">
      <h2 id="page_heading">{% trans "Forbidden" %}</h2>
      <p id="page_description">{% blocktrans %}You do not have the required
          privileges to access this content. If you believe this message to
          be in error, please contact your project manager.{% endblocktrans %}
      </p>
    </div>
  </div>
{% endblock %}
