{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %} - {% trans "Page Not Found" %}{% endblock %}

{% block content %}
  <style type="text/css">
  body {
    background-color: #1D414E;
    font: ;
  }
  h1 ,h2 ,h3, a, p {
    font-family: Lato,Helvetica,Arial,sans-serif;
  }
  p {
    color: #190F10;
  }
  a {
      color: #428bca;
      text-decoration: none;
      width: auto;
  }
  #links a:not(:last-child):after {
      content: " | ";
      padding: 0 10px;
  }
  .http-error {
    position: relative;
    text-align: center;
    font-weight: normal;
    background-size: 1000px;
  }
  div.error-container {
      background: url("{% static "/themes/skytv/img/logo-splash.png" %}") no-repeat scroll center 35px padding-box #ffffff;
      background-size: 80% auto;
      border: 1px solid #000000;
      left: 50%;
      margin: 0px 0px 0px -200px;
      padding-top: 150px;
      position: absolute;
      top: 80px;
      width: 400px;
      padding: 120px 20px 20px 20px;

      box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
  }
  </style>
  <div id="right_content" class="http-error">
    <div id="page_head" class="error-container">
      <h2 id="page_heading">{% trans "The page you were looking for doesn't exist" %}</h2>
      <p id="page_description">{% trans "You may have mistyped the address or the page may have moved." %}</p>
      <div id="links">
        {% block links %}
        <a href="/">{% trans "Home" %}</a>
        <a href="{{ HORIZON_CONFIG.help_url }}">{% trans "Help" %}</a>
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
