/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$icon-access copy-name: 'icon-access copy';
$icon-access copy-x: 0px;
$icon-access copy-y: 36px;
$icon-access copy-offset-x: 0px;
$icon-access copy-offset-y: -36px;
$icon-access copy-width: 16px;
$icon-access copy-height: 16px;
$icon-access copy-total-width: 16px;
$icon-access copy-total-height: 1240px;
$icon-access copy-image: '/static/themes/catalyst/img/icons.png';
$icon-access copy: 0px 36px 0px -36px 16px 16px 16px 1240px '/static/themes/catalyst/img/icons.png' 'icon-access copy';
$icon-access-name: 'icon-access';
$icon-access-x: 0px;
$icon-access-y: 612px;
$icon-access-offset-x: 0px;
$icon-access-offset-y: -612px;
$icon-access-width: 16px;
$icon-access-height: 16px;
$icon-access-total-width: 16px;
$icon-access-total-height: 1240px;
$icon-access-image: '/static/themes/catalyst/img/icons.png';
$icon-access: 0px 612px 0px -612px 16px 16px 16px 1240px '/static/themes/catalyst/img/icons.png' 'icon-access';
$icon-account-name: 'icon-account';
$icon-account-x: 0px;
$icon-account-y: 72px;
$icon-account-offset-x: 0px;
$icon-account-offset-y: -72px;
$icon-account-width: 16px;
$icon-account-height: 16px;
$icon-account-total-width: 16px;
$icon-account-total-height: 1240px;
$icon-account-image: '/static/themes/catalyst/img/icons.png';
$icon-account: 0px 72px 0px -72px 16px 16px 16px 1240px '/static/themes/catalyst/img/icons.png' 'icon-account';
$icon-api_access-name: 'icon-api_access';
$icon-api_access-x: 0px;
$icon-api_access-y: 108px;
$icon-api_access-offset-x: 0px;
$icon-api_access-offset-y: -108px;
$icon-api_access-width: 16px;
$icon-api_access-height: 16px;
$icon-api_access-total-width: 16px;
$icon-api_access-total-height: 1240px;
$icon-api_access-image: '/static/themes/catalyst/img/icons.png';
$icon-api_access: 0px 108px 0px -108px 16px 16px 16px 1240px '/static/themes/catalyst/img/icons.png' 'icon-api_access';
$icon-billing_1-name: 'icon-billing_1';
$icon-billing_1-x: 0px;
$icon-billing_1-y: 144px;
$icon-billing_1-offset-x: 0px;
$icon-billing_1-offset-y: -144px;
$icon-billing_1-width: 16px;
$icon-billing_1-height: 16px;
$icon-billing_1-total-width: 16px;
$icon-billing_1-total-height: 1240px;
$icon-billing_1-image: '/static/themes/catalyst/img/icons.png';
$icon-billing_1: 0px 144px 0px -144px 16px 16px 16px 1240px '/static/themes/catalyst/img/icons.png' 'icon-billing_1';
$icon-coe_cluster_templates-name: 'icon-coe_cluster_templates';
$icon-coe_cluster_templates-x: 0px;
$icon-coe_cluster_templates-y: 180px;
$icon-coe_cluster_templates-offset-x: 0px;
$icon-coe_cluster_templates-offset-y: -180px;
$icon-coe_cluster_templates-width: 16px;
$icon-coe_cluster_templates-height: 16px;
$icon-coe_cluster_templates-total-width: 16px;
$icon-coe_cluster_templates-total-height: 1240px;
$icon-coe_cluster_templates-image: '/static/themes/catalyst/img/icons.png';
$icon-coe_cluster_templates: 0px 180px 0px -180px 16px 16px 16px 1240px '/static/themes/catalyst/img/icons.png' 'icon-coe_cluster_templates';
$icon-coe_clusters-name: 'icon-coe_clusters';
$icon-coe_clusters-x: 0px;
$icon-coe_clusters-y: 216px;
$icon-coe_clusters-offset-x: 0px;
$icon-coe_clusters-offset-y: -216px;
$icon-coe_clusters-width: 16px;
$icon-coe_clusters-height: 16px;
$icon-coe_clusters-total-width: 16px;
$icon-coe_clusters-total-height: 1240px;
$icon-coe_clusters-image: '/static/themes/catalyst/img/icons.png';
$icon-coe_clusters: 0px 216px 0px -216px 16px 16px 16px 1240px '/static/themes/catalyst/img/icons.png' 'icon-coe_clusters';
$icon-containers-name: 'icon-containers';
$icon-containers-x: 0px;
$icon-containers-y: 252px;
$icon-containers-offset-x: 0px;
$icon-containers-offset-y: -252px;
$icon-containers-width: 16px;
$icon-containers-height: 16px;
$icon-containers-total-width: 16px;
$icon-containers-total-height: 1240px;
$icon-containers-image: '/static/themes/catalyst/img/icons.png';
$icon-containers: 0px 252px 0px -252px 16px 16px 16px 1240px '/static/themes/catalyst/img/icons.png' 'icon-containers';
$icon-defaults-name: 'icon-defaults';
$icon-defaults-x: 0px;
$icon-defaults-y: 288px;
$icon-defaults-offset-x: 0px;
$icon-defaults-offset-y: -288px;
$icon-defaults-width: 16px;
$icon-defaults-height: 16px;
$icon-defaults-total-width: 16px;
$icon-defaults-total-height: 1240px;
$icon-defaults-image: '/static/themes/catalyst/img/icons.png';
$icon-defaults: 0px 288px 0px -288px 16px 16px 16px 1240px '/static/themes/catalyst/img/icons.png' 'icon-defaults';
$icon-firewall-name: 'icon-firewall';
$icon-firewall-x: 0px;
$icon-firewall-y: 324px;
$icon-firewall-offset-x: 0px;
$icon-firewall-offset-y: -324px;
$icon-firewall-width: 16px;
$icon-firewall-height: 16px;
$icon-firewall-total-width: 16px;
$icon-firewall-total-height: 1240px;
$icon-firewall-image: '/static/themes/catalyst/img/icons.png';
$icon-firewall: 0px 324px 0px -324px 16px 16px 16px 1240px '/static/themes/catalyst/img/icons.png' 'icon-firewall';
$icon-flavours-name: 'icon-flavours';
$icon-flavours-x: 0px;
$icon-flavours-y: 360px;
$icon-flavours-offset-x: 0px;
$icon-flavours-offset-y: -360px;
$icon-flavours-width: 16px;
$icon-flavours-height: 16px;
$icon-flavours-total-width: 16px;
$icon-flavours-total-height: 1240px;
$icon-flavours-image: '/static/themes/catalyst/img/icons.png';
$icon-flavours: 0px 360px 0px -360px 16px 16px 16px 1240px '/static/themes/catalyst/img/icons.png' 'icon-flavours';
$icon-floating_ips-name: 'icon-floating_ips';
$icon-floating_ips-x: 0px;
$icon-floating_ips-y: 396px;
$icon-floating_ips-offset-x: 0px;
$icon-floating_ips-offset-y: -396px;
$icon-floating_ips-width: 16px;
$icon-floating_ips-height: 16px;
$icon-floating_ips-total-width: 16px;
$icon-floating_ips-total-height: 1240px;
$icon-floating_ips-image: '/static/themes/catalyst/img/icons.png';
$icon-floating_ips: 0px 396px 0px -396px 16px 16px 16px 1240px '/static/themes/catalyst/img/icons.png' 'icon-floating_ips';
$icon-host-name: 'icon-host';
$icon-host-x: 0px;
$icon-host-y: 432px;
$icon-host-offset-x: 0px;
$icon-host-offset-y: -432px;
$icon-host-width: 16px;
$icon-host-height: 16px;
$icon-host-total-width: 16px;
$icon-host-total-height: 1240px;
$icon-host-image: '/static/themes/catalyst/img/icons.png';
$icon-host: 0px 432px 0px -432px 16px 16px 16px 1240px '/static/themes/catalyst/img/icons.png' 'icon-host';
$icon-hypervisors-name: 'icon-hypervisors';
$icon-hypervisors-x: 0px;
$icon-hypervisors-y: 468px;
$icon-hypervisors-offset-x: 0px;
$icon-hypervisors-offset-y: -468px;
$icon-hypervisors-width: 16px;
$icon-hypervisors-height: 16px;
$icon-hypervisors-total-width: 16px;
$icon-hypervisors-total-height: 1240px;
$icon-hypervisors-image: '/static/themes/catalyst/img/icons.png';
$icon-hypervisors: 0px 468px 0px -468px 16px 16px 16px 1240px '/static/themes/catalyst/img/icons.png' 'icon-hypervisors';
$icon-images-name: 'icon-images';
$icon-images-x: 0px;
$icon-images-y: 504px;
$icon-images-offset-x: 0px;
$icon-images-offset-y: -504px;
$icon-images-width: 16px;
$icon-images-height: 16px;
$icon-images-total-width: 16px;
$icon-images-total-height: 1240px;
$icon-images-image: '/static/themes/catalyst/img/icons.png';
$icon-images: 0px 504px 0px -504px 16px 16px 16px 1240px '/static/themes/catalyst/img/icons.png' 'icon-images';
$icon-info-name: 'icon-info';
$icon-info-x: 0px;
$icon-info-y: 540px;
$icon-info-offset-x: 0px;
$icon-info-offset-y: -540px;
$icon-info-width: 16px;
$icon-info-height: 16px;
$icon-info-total-width: 16px;
$icon-info-total-height: 1240px;
$icon-info-image: '/static/themes/catalyst/img/icons.png';
$icon-info: 0px 540px 0px -540px 16px 16px 16px 1240px '/static/themes/catalyst/img/icons.png' 'icon-info';
$icon-instances-name: 'icon-instances';
$icon-instances-x: 0px;
$icon-instances-y: 576px;
$icon-instances-offset-x: 0px;
$icon-instances-offset-y: -576px;
$icon-instances-width: 16px;
$icon-instances-height: 16px;
$icon-instances-total-width: 16px;
$icon-instances-total-height: 1240px;
$icon-instances-image: '/static/themes/catalyst/img/icons.png';
$icon-instances: 0px 576px 0px -576px 16px 16px 16px 1240px '/static/themes/catalyst/img/icons.png' 'icon-instances';
$icon-key_pairs-name: 'icon-key_pairs';
$icon-key_pairs-x: 0px;
$icon-key_pairs-y: 0px;
$icon-key_pairs-offset-x: 0px;
$icon-key_pairs-offset-y: 0px;
$icon-key_pairs-width: 16px;
$icon-key_pairs-height: 16px;
$icon-key_pairs-total-width: 16px;
$icon-key_pairs-total-height: 1240px;
$icon-key_pairs-image: '/static/themes/catalyst/img/icons.png';
$icon-key_pairs: 0px 0px 0px 0px 16px 16px 16px 1240px '/static/themes/catalyst/img/icons.png' 'icon-key_pairs';
$icon-load_balancer-name: 'icon-load_balancer';
$icon-load_balancer-x: 0px;
$icon-load_balancer-y: 648px;
$icon-load_balancer-offset-x: 0px;
$icon-load_balancer-offset-y: -648px;
$icon-load_balancer-width: 16px;
$icon-load_balancer-height: 16px;
$icon-load_balancer-total-width: 16px;
$icon-load_balancer-total-height: 1240px;
$icon-load_balancer-image: '/static/themes/catalyst/img/icons.png';
$icon-load_balancer: 0px 648px 0px -648px 16px 16px 16px 1240px '/static/themes/catalyst/img/icons.png' 'icon-load_balancer';
$icon-metadata_defs-name: 'icon-metadata_defs';
$icon-metadata_defs-x: 0px;
$icon-metadata_defs-y: 684px;
$icon-metadata_defs-offset-x: 0px;
$icon-metadata_defs-offset-y: -684px;
$icon-metadata_defs-width: 16px;
$icon-metadata_defs-height: 16px;
$icon-metadata_defs-total-width: 16px;
$icon-metadata_defs-total-height: 1240px;
$icon-metadata_defs-image: '/static/themes/catalyst/img/icons.png';
$icon-metadata_defs: 0px 684px 0px -684px 16px 16px 16px 1240px '/static/themes/catalyst/img/icons.png' 'icon-metadata_defs';
$icon-network_topology-name: 'icon-network_topology';
$icon-network_topology-x: 0px;
$icon-network_topology-y: 720px;
$icon-network_topology-offset-x: 0px;
$icon-network_topology-offset-y: -720px;
$icon-network_topology-width: 16px;
$icon-network_topology-height: 16px;
$icon-network_topology-total-width: 16px;
$icon-network_topology-total-height: 1240px;
$icon-network_topology-image: '/static/themes/catalyst/img/icons.png';
$icon-network_topology: 0px 720px 0px -720px 16px 16px 16px 1240px '/static/themes/catalyst/img/icons.png' 'icon-network_topology';
$icon-networks-name: 'icon-networks';
$icon-networks-x: 0px;
$icon-networks-y: 756px;
$icon-networks-offset-x: 0px;
$icon-networks-offset-y: -756px;
$icon-networks-width: 16px;
$icon-networks-height: 16px;
$icon-networks-total-width: 16px;
$icon-networks-total-height: 1240px;
$icon-networks-image: '/static/themes/catalyst/img/icons.png';
$icon-networks: 0px 756px 0px -756px 16px 16px 16px 1240px '/static/themes/catalyst/img/icons.png' 'icon-networks';
$icon-overview-name: 'icon-overview';
$icon-overview-x: 0px;
$icon-overview-y: 792px;
$icon-overview-offset-x: 0px;
$icon-overview-offset-y: -792px;
$icon-overview-width: 16px;
$icon-overview-height: 16px;
$icon-overview-total-width: 16px;
$icon-overview-total-height: 1240px;
$icon-overview-image: '/static/themes/catalyst/img/icons.png';
$icon-overview: 0px 792px 0px -792px 16px 16px 16px 1240px '/static/themes/catalyst/img/icons.png' 'icon-overview';
$icon-project_users-name: 'icon-project_users';
$icon-project_users-x: 0px;
$icon-project_users-y: 828px;
$icon-project_users-offset-x: 0px;
$icon-project_users-offset-y: -828px;
$icon-project_users-width: 16px;
$icon-project_users-height: 16px;
$icon-project_users-total-width: 16px;
$icon-project_users-total-height: 1240px;
$icon-project_users-image: '/static/themes/catalyst/img/icons.png';
$icon-project_users: 0px 828px 0px -828px 16px 16px 16px 1240px '/static/themes/catalyst/img/icons.png' 'icon-project_users';
$icon-projects-name: 'icon-projects';
$icon-projects-x: 0px;
$icon-projects-y: 864px;
$icon-projects-offset-x: 0px;
$icon-projects-offset-y: -864px;
$icon-projects-width: 16px;
$icon-projects-height: 16px;
$icon-projects-total-width: 16px;
$icon-projects-total-height: 1240px;
$icon-projects-image: '/static/themes/catalyst/img/icons.png';
$icon-projects: 0px 864px 0px -864px 16px 16px 16px 1240px '/static/themes/catalyst/img/icons.png' 'icon-projects';
$icon-resource_usage-name: 'icon-resource_usage';
$icon-resource_usage-x: 0px;
$icon-resource_usage-y: 900px;
$icon-resource_usage-offset-x: 0px;
$icon-resource_usage-offset-y: -900px;
$icon-resource_usage-width: 16px;
$icon-resource_usage-height: 16px;
$icon-resource_usage-total-width: 16px;
$icon-resource_usage-total-height: 1240px;
$icon-resource_usage-image: '/static/themes/catalyst/img/icons.png';
$icon-resource_usage: 0px 900px 0px -900px 16px 16px 16px 1240px '/static/themes/catalyst/img/icons.png' 'icon-resource_usage';
$icon-routers-name: 'icon-routers';
$icon-routers-x: 0px;
$icon-routers-y: 936px;
$icon-routers-offset-x: 0px;
$icon-routers-offset-y: -936px;
$icon-routers-width: 16px;
$icon-routers-height: 16px;
$icon-routers-total-width: 16px;
$icon-routers-total-height: 1240px;
$icon-routers-image: '/static/themes/catalyst/img/icons.png';
$icon-routers: 0px 936px 0px -936px 16px 16px 16px 1240px '/static/themes/catalyst/img/icons.png' 'icon-routers';
$icon-server_groups-name: 'icon-server_groups';
$icon-server_groups-x: 0px;
$icon-server_groups-y: 972px;
$icon-server_groups-offset-x: 0px;
$icon-server_groups-offset-y: -972px;
$icon-server_groups-width: 16px;
$icon-server_groups-height: 16px;
$icon-server_groups-total-width: 16px;
$icon-server_groups-total-height: 1240px;
$icon-server_groups-image: '/static/themes/catalyst/img/icons.png';
$icon-server_groups: 0px 972px 0px -972px 16px 16px 16px 1240px '/static/themes/catalyst/img/icons.png' 'icon-server_groups';
$icon-snapshots-name: 'icon-snapshots';
$icon-snapshots-x: 0px;
$icon-snapshots-y: 1008px;
$icon-snapshots-offset-x: 0px;
$icon-snapshots-offset-y: -1008px;
$icon-snapshots-width: 16px;
$icon-snapshots-height: 16px;
$icon-snapshots-total-width: 16px;
$icon-snapshots-total-height: 1240px;
$icon-snapshots-image: '/static/themes/catalyst/img/icons.png';
$icon-snapshots: 0px 1008px 0px -1008px 16px 16px 16px 1240px '/static/themes/catalyst/img/icons.png' 'icon-snapshots';
$icon-stacks-name: 'icon-stacks';
$icon-stacks-x: 0px;
$icon-stacks-y: 1044px;
$icon-stacks-offset-x: 0px;
$icon-stacks-offset-y: -1044px;
$icon-stacks-width: 16px;
$icon-stacks-height: 16px;
$icon-stacks-total-width: 16px;
$icon-stacks-total-height: 1240px;
$icon-stacks-image: '/static/themes/catalyst/img/icons.png';
$icon-stacks: 0px 1044px 0px -1044px 16px 16px 16px 1240px '/static/themes/catalyst/img/icons.png' 'icon-stacks';
$icon-ticket-name: 'icon-ticket';
$icon-ticket-x: 0px;
$icon-ticket-y: 1080px;
$icon-ticket-offset-x: 0px;
$icon-ticket-offset-y: -1080px;
$icon-ticket-width: 16px;
$icon-ticket-height: 16px;
$icon-ticket-total-width: 16px;
$icon-ticket-total-height: 1240px;
$icon-ticket-image: '/static/themes/catalyst/img/icons.png';
$icon-ticket: 0px 1080px 0px -1080px 16px 16px 16px 1240px '/static/themes/catalyst/img/icons.png' 'icon-ticket';
$icon-tickets-name: 'icon-tickets';
$icon-tickets-x: 0px;
$icon-tickets-y: 1116px;
$icon-tickets-offset-x: 0px;
$icon-tickets-offset-y: -1116px;
$icon-tickets-width: 16px;
$icon-tickets-height: 16px;
$icon-tickets-total-width: 16px;
$icon-tickets-total-height: 1240px;
$icon-tickets-image: '/static/themes/catalyst/img/icons.png';
$icon-tickets: 0px 1116px 0px -1116px 16px 16px 16px 1240px '/static/themes/catalyst/img/icons.png' 'icon-tickets';
$icon-users-name: 'icon-users';
$icon-users-x: 0px;
$icon-users-y: 1152px;
$icon-users-offset-x: 0px;
$icon-users-offset-y: -1152px;
$icon-users-width: 16px;
$icon-users-height: 16px;
$icon-users-total-width: 16px;
$icon-users-total-height: 1240px;
$icon-users-image: '/static/themes/catalyst/img/icons.png';
$icon-users: 0px 1152px 0px -1152px 16px 16px 16px 1240px '/static/themes/catalyst/img/icons.png' 'icon-users';
$icon-volumes-name: 'icon-volumes';
$icon-volumes-x: 0px;
$icon-volumes-y: 1188px;
$icon-volumes-offset-x: 0px;
$icon-volumes-offset-y: -1188px;
$icon-volumes-width: 16px;
$icon-volumes-height: 16px;
$icon-volumes-total-width: 16px;
$icon-volumes-total-height: 1240px;
$icon-volumes-image: '/static/themes/catalyst/img/icons.png';
$icon-volumes: 0px 1188px 0px -1188px 16px 16px 16px 1240px '/static/themes/catalyst/img/icons.png' 'icon-volumes';
$icon-vpn-name: 'icon-vpn';
$icon-vpn-x: 0px;
$icon-vpn-y: 1224px;
$icon-vpn-offset-x: 0px;
$icon-vpn-offset-y: -1224px;
$icon-vpn-width: 16px;
$icon-vpn-height: 16px;
$icon-vpn-total-width: 16px;
$icon-vpn-total-height: 1240px;
$icon-vpn-image: '/static/themes/catalyst/img/icons.png';
$icon-vpn: 0px 1224px 0px -1224px 16px 16px 16px 1240px '/static/themes/catalyst/img/icons.png' 'icon-vpn';
$spritesheet-width: 16px;
$spritesheet-height: 1240px;
$spritesheet-image: '/static/themes/catalyst/img/icons.png';
$spritesheet-sprites: $icon-access copy $icon-access $icon-account $icon-api_access $icon-billing_1 $icon-coe_cluster_templates $icon-coe_clusters $icon-containers $icon-defaults $icon-firewall $icon-flavours $icon-floating_ips $icon-host $icon-hypervisors $icon-images $icon-info $icon-instances $icon-key_pairs $icon-load_balancer $icon-metadata_defs $icon-network_topology $icon-networks $icon-overview $icon-project_users $icon-projects $icon-resource_usage $icon-routers $icon-server_groups $icon-snapshots $icon-stacks $icon-ticket $icon-tickets $icon-users $icon-volumes $icon-vpn;
$spritesheet: 16px 1240px '/static/themes/catalyst/img/icons.png' $spritesheet-sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
