$static_url: "/static/" !default;

// clearfix mixin so we can clearfix without having to add a class to the html
@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

// more sophisticated sprite mixins than grunt-spritesmith's defaults
@mixin icon-position($sprite, $extra-x-offset: 0, $extra-y-offset: 0) {
    $sprite-offset-x: nth($sprite, 3);
    $sprite-offset-y: nth($sprite, 4);
    background-position: ($sprite-offset-x + $extra-x-offset)  ($sprite-offset-y + $extra-y-offset);
}

@mixin icon($sprite, $extra-x-offset: 0, $extra-y-offset: 0) {
    @include sprite-image($sprite); // uses default mixin
    @include icon-position($sprite, $extra-x-offset, $extra-y-offset); // uses custom mixin
    background-repeat: no-repeat;
}

// font families!
@mixin font-face($fontname, $filename: $fontname, $weight: normal, $style: normal) {
        // based on font squirrel output, without SVG (too legacy)
    @font-face {
        font-family: $fontname;
        src:url('/static/themes/catalyst/media/fonts/#{$filename}.eot');
        src:url('/static/themes/catalyst/media/fonts/#{$filename}.eot?#iefix') format('embedded-opentype'),
                url('/static/themes/catalyst/media/fonts/#{$filename}.woff2') format('woff2'),
                url('/static/themes/catalyst/media/fonts/#{$filename}.woff') format('woff'),
                url('/static/themes/catalyst/media/fonts/#{$filename}.ttf') format('truetype');
        font-weight: $weight;
        font-style: $style;
    }
}
