.btn-sm,
.btn-group-sm > .btn,
.table_header .table_actions a,
.table_header .table_actions > button,
.table_header .table_actions .table_search button {
    padding: 6px 12px;
    font-size: $font-size-base - 1;
}

.dropdown-toggle .fa {
    margin-right: 0;
    margin-left: 4px;
}

.btn-default:not(.btn-danger) {
    &.cancel,
    td.actions_column & {
        background-color: #fff;
    }
}

.btn.active {
    background-color: lighten($cloudLighterBlue, 2%);
}

label.btn.active {
    font-weight: bold !important;
    color: #333 !important;
    background-color: $cloudLighterBlue;
    border-color: #adadad;
}