// FOOTER SCARF

#footer {
    height:5px;
    position: fixed;
    bottom: 0;
    width:100%;

    background: $cloudDarkBlue; /* Old browsers */
    background: -moz-linear-gradient(left, $cloudDarkBlue 0%, $cloudDarkBlue 25%, $cloudDarkGreen 25%, $cloudDarkGreen 50%, $cloudLightGreen 50%, $cloudLightGreen 75%, $cloudLightBlue 75%, $cloudLightBlue 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,$cloudDarkBlue), color-stop(25%,$cloudDarkBlue), color-stop(25%,$cloudDarkGreen), color-stop(50%,$cloudDarkGreen), color-stop(50%,$cloudLightGreen), color-stop(75%,$cloudLightGreen), color-stop(75%,$cloudLightBlue), color-stop(100%,$cloudLightBlue)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, $cloudDarkBlue 0%,$cloudDarkBlue 25%,$cloudDarkGreen 25%,$cloudDarkGreen 50%,$cloudLightGreen 50%,$cloudLightGreen 75%,$cloudLightBlue 75%,$cloudLightBlue 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, $cloudDarkBlue 0%,$cloudDarkBlue 25%,$cloudDarkGreen 25%,$cloudDarkGreen 50%,$cloudLightGreen 50%,$cloudLightGreen 75%,$cloudLightBlue 75%,$cloudLightBlue 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, $cloudDarkBlue 0%,$cloudDarkBlue 25%,$cloudDarkGreen 25%,$cloudDarkGreen 50%,$cloudLightGreen 50%,$cloudLightGreen 75%,$cloudLightBlue 75%,$cloudLightBlue 100%); /* IE10+ */
    background: linear-gradient(to right, $cloudDarkBlue 0%,$cloudDarkBlue 25%,$cloudDarkGreen 25%,$cloudDarkGreen 50%,$cloudLightGreen 50%,$cloudLightGreen 75%,$cloudLightBlue 75%,$cloudLightBlue 100%); /* W3C */
}

#splash #footer {
    display: none;
}