// LOGIN PAGE
#splash {
    background-color: $cloudDarkBlue;
    .panel.panel-default {
        border: 1px solid #ddd;
        border-radius: 0;
        .panel-heading, .panel-body, .panel-footer {
          background-color: #fff;
        }
    }
}

.login {
  .login-title {
      font-weight: $headings-font-weight;
  }
  .splash-logo {
    max-width: 80%;
  }
}

.terms-conds {
    text-align: left;
    clear:both;
    padding-top:10px;

    p {
        margin-bottom: 4px;
    }
}

#main_content {
  height: 100%;
}

#container, #main_content {
    @include clearfix;
}

#container {
    overflow-y: auto;
}

// Intentionally make it very specific to ensure that
// we don't want to hide anything we don't want to.
.add-interface.btn.btn-primary.btn-xs.ajax-modal.instance {
    display: none;
}

.has-feedback .form-control-feedback {
  &.glyphicon-eye-open {
    top: 0;
  }
  &.search-icon {
    top: 8px;
  }
}

.tab-content {
    padding-top: 15px;
}

// Dashboard layout tweaks
.quota-dynamic {
  padding-bottom: 0;
  margin-top: 10px;
  border-top: 1px solid #eeeeee;
  &.limit-summary {
    border-top: 0;
  }
}

.table-title {
  color: $text-color;
}

.usage_info_wrapper h3 {
  // Reduce the size of the 'Select a period of time to query its usage', without having to use a template
  @extend .h4;
}

// Loading box
.modal.loading .modal-dialog {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}
