// TOP BAR AND DROPDOWNS
.topbar {
    .navbar-brand {
        padding: 5px 15px;
        img {
            display: block;
            max-height: 35px;
        }
    }
    .navbar {
        margin-bottom: 0;
        .fa {
            margin-right: 3px;
        }
    }
    // Override Bootstrap variables for dropdown
    .dropdown-menu {
        &.context-selection {
            li > a {
                color: $faintBlue;
            }

            li.dropdown-header {
                font-weight: bold;
                padding: 3px 5px 3px 10px;
            }
        }

        // Hide divider above sign out link
        .divider {
            display:none;
        }
    }
}

// Styling for tab elements
.nav-tabs {
    > li.active a {
        font-weight: bold;
    }
    > li > a:hover {
        background-color: lighten($cloudLightGrey, 2%);
        border-top-color: lighten($cloudLightGrey, 2%);
        border-left-color: lighten($cloudLightGrey, 2%);
        border-right-color: lighten($cloudLightGrey, 2%);
    }
}
