// General Pie Chart Styles
$brand-primary: $cloudLightBlue;

@mixin make_pie_chart_distribution($num, $increment) {
  @for $ii from 1 through $num {
    $color_increment: $increment * ($ii/2);

    // Set the arc color
    .arc:nth-child(#{$ii}n) {
      @if $ii % 2 == 0 {
        fill: lighten($brand-primary, $color_increment * 1%);
      } @else {
        fill: darken($brand-primary, $color_increment * 1%);
      }
    }

    // Set the corresponding legend symbol
    .legend-group:nth-child(#{$ii}n) .legend-symbol {
      @if $ii % 2 == 0 {
        color: lighten($brand-primary, $color_increment * 1%);
      } @else {
        color: darken($brand-primary, $color_increment * 1%);
      }
    }
  }
}

// This is who sets the size of the pie chart
.legacy-pie-chart {
  width: $font-size-h1*3;
  height: $font-size-h1*3;

  // The container arc's color and stroke
  .arc {
    fill: $table-border-color;
    stroke-width: 1px;
  }
}

// Chart Usage Specifics
.pie-chart-usage {

  .arc {
    stroke: $table-border-color;
  }

  // The inner arc
  .arc.inner {
    fill: $brand-primary;
    stroke: none;

    // Specialness if its full
    &.FULL {
      fill: $brand-danger;
    }

    // Specialness if its almost full
    &.NEARLY_FULL {
      fill: $brand-warning;
    }
  }
}

// Chart Distribution Specifics
.pie-chart-distribution {

  // The container arc's color and stroke
  .arc {
    stroke: $brand-primary;
  }

  // Set the colors!
  @include make_pie_chart_distribution(8, 8);
}

.chart-numbers {
  fill: $gray-dark;
  font-size: $font-size-h3;
}

.quota_title {
  font-size: $font-size-h4;
  font-weight: 700;
}

.quota_subtitle {
  font-size: $font-size-h5;
  margin-top: 0;
}
