$sidebar-active-color: $brand-primary !default;

#sidebar {
    background-color: $sidebar-background-color;
    min-height: 100%;
    min-width: $sidebar-width;

    // Legacy padding at the top of nav ... we should remove this.
    padding-top: 0;

    #sidebar-accordion {
        background-color: $cloudLightGrey;
        width: 100%;
    }

    .panel {
        background-color: transparent;
        > a {
          background-color: transparent;
          color: $cloudDarkBlue;
          &:hover {
            background-color: $sidebar-background-color;
          }
        }
        &.nav-header a .nav-header-title {
            font-weight: bold;
            text-align: left;
            text-transform: none;
        }
    }

    .nav-stacked > li + li {
        margin-top: 0;
    }

    .openstack-dashboard {
        & > a {
            padding: 0.6em 1.2em;
            background-color: $sidebar-background-color;
            color: $cloudDarkBlue;
            border-radius: 0;
            font-weight: bold;
            border-bottom: 1px solid $dropdown-divider-bg;
        }

        &:focus {
            background-color: $sidebar-background-color;
        }

        .nav-header-title {
            padding-left: 10px;
            color: $cloudDarkBlue;
        }

        .nav-header a:hover {
            background-color: transparent;
        }
    }

    .openstack-panel {
        & > a {
            background-color: transparent;
            color: $cloudDarkBlue;
            text-align: left;
            padding: 10px 50px;
            border-left: $sidebar-active-indicator-width solid $cloudLightGrey;
        }

        &.active > a {
            @include box-shadow(none);
            background: $body-bg;
            border-bottom-width: 0;
            border-top-width: 0;
            border-left: $sidebar-active-indicator-width solid $sidebar-active-color;
            color: $sidebar-active-color;
            font-weight: normal;

            &:hover {
                background-color: #FFF;
            }
        }

        &:hover {
            background-color: darken($cloudLightGrey, 3%);
        }
    }

    // Sets the arrow toggles for each dashboard list
    [data-toggle="collapse"] {

        .openstack-toggle.fa {
            &::before {
                content: $fa-var-caret-up;
            }
        }

        &.collapsed {
            .openstack-toggle.fa {
                -webkit-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }
    }

    .openstack-panel > a[href="/project/"],
    .openstack-panel > a[href="/admin/"],
    .openstack-panel > a[href="/management/quota/"] {
        @include icon($icon-overview, 25px, 10px);

        &.active,
        &:hover {
            @include icon($icon-overview, 25px, 10px);
        }
    }
    .openstack-panel > a[href="/project/instances/"],
    .openstack-panel > a[href="/admin/instances/"] {
        @include icon($icon-instances, 25px, 11px);

        &.active,
        &:hover {
            @include icon($icon-instances, 25px, 11px);
        }
    }
    .openstack-panel > a[href="/project/images/"],
    .openstack-panel > a[href="/admin/images/"] {
        @include icon($icon-images, 25px, 10px);

        &.active,
        &:hover {
            @include icon($icon-images, 25px, 10px);
        }
    }
    .openstack-panel > a[href="/project/key_pairs/"] {
        @include icon($icon-key_pairs, 25px, 10px);

        &.active,
        &:hover {
            @include icon($icon-key_pairs, 25px, 10px);
        }
    }
    .openstack-panel > a[href="/project/volumes/"],
    .openstack-panel > a[href="/admin/volumes/"] {
        @include icon($icon-volumes, 25px, 10px);

        &.active,
        &:hover {
            @include icon($icon-volumes, 25px, 10px);
        }
    }
    .openstack-panel > a[href="/project/snapshots/"],
    .openstack-panel > a[href="/admin/snapshots/"] {
        @include icon($icon-snapshots, 25px, 10px);

        &.active,
        &:hover {
            @include icon($icon-snapshots, 25px, 10px);
        }
    }
    .openstack-panel > a[href="/project/security_groups/"] {
        @include icon($icon-access, 25px, 10px);

        &.active,
        &:hover {
            @include icon($icon-access, 25px, 10px);
        }
    }
    .openstack-panel > a[href="/project/network_topology/"] {
        @include icon($icon-network_topology, 25px, 10px);

        &.active,
        &:hover {
            @include icon($icon-network_topology, 25px, 10px);
        }
    }
    .openstack-panel > a[href="/project/networks/"],
    .openstack-panel > a[href="/admin/networks/"] {
        @include icon($icon-networks, 25px, 10px);

        &.active,
        &:hover {
            @include icon($icon-networks, 25px, 10px);
        }
    }
    .openstack-panel > a[href="/project/vpn/"] {
        @include icon($icon-vpn, 25px, 10px);

        &.active,
        &:hover {
            @include icon($icon-vpn, 25px, 10px);
        }
    }
    .openstack-panel > a[href="/project/routers/"],
    .openstack-panel > a[href="/admin/routers/"] {
        @include icon($icon-routers, 25px, 10px);

        &.active,
        &:hover {
            @include icon($icon-routers, 25px, 10px);
        }
    }
    .openstack-panel > a[href="/project/containers/"] {
        @include icon($icon-containers, 25px, 10px);

        &.active,
        &:hover {
            @include icon($icon-containers, 25px, 10px);
        }
    }
    .openstack-panel > a[href="/project/stacks/"] {
        @include icon($icon-stacks, 25px, 10px);

        &.active,
        &:hover {
            @include icon($icon-stacks, 25px, 10px);
        }
    }
    .openstack-panel > a[href="/admin/floating_ips/"],
    .openstack-panel > a[href="/project/floating_ips/"] {
        @include icon($icon-floating_ips, 25px, 10px);

        &.active,
        &:hover {
            @include icon($icon-floating_ips, 25px, 10px);
        }
    }
    .openstack-panel > a[href="/project/api_access/"] {
        @include icon($icon-api_access, 25px, 10px);

        &.active,
        &:hover {
            @include icon($icon-api_access, 25px, 10px);
        }
    }
    .openstack-panel > a[href="/admin/hypervisors/"] {
        @include icon($icon-hypervisors, 25px, 10px);

        &.active,
        &:hover {
            @include icon($icon-hypervisors, 25px, 10px);
        }
    }
    .openstack-panel > a[href="/admin/aggregates/"] {
        @include icon($icon-host, 25px, 11px);

        &.active,
        &:hover {
            @include icon($icon-host, 25px, 11px);
        }
    }
    .openstack-panel > a[href="/admin/flavors/"] {
        @include icon($icon-flavours, 25px, 10px);

        &.active,
        &:hover {
            @include icon($icon-flavours, 25px, 10px);
        }
    }
    .openstack-panel > a[href="/admin/defaults/"] {
        @include icon($icon-defaults, 25px, 10px);

        &.active,
        &:hover {
            @include icon($icon-defaults, 25px, 10px);
        }
    }
    .openstack-panel > a[href="/admin/info/"] {
        @include icon($icon-info, 25px, 10px);

        &.active,
        &:hover {
            @include icon($icon-info, 25px, 10px);
        }
    }
    .openstack-panel > a[href="/admin/metering/"] {
        @include icon($icon-resource_usage, 25px, 10px);

        &.active,
        &:hover {
            @include icon($icon-resource_usage, 25px, 10px);
        }
    }
    .openstack-panel > a[href="/admin/metadata_defs/"] {
        @include icon($icon-metadata_defs, 25px, 10px);

        &.active,
        &:hover {
            @include icon($icon-metadata_defs, 25px, 10px);
        }
    }
    .openstack-panel > a[href="/identity/"] {
        @include icon($icon-projects, 25px, 10px);

        &.active,
        &:hover {
            @include icon($icon-projects, 25px, 10px);
        }
    }
    .openstack-panel > a[href="/identity/users/"] {
        @include icon($icon-users, 25px, 10px);

        &.active,
        &:hover {
            @include icon($icon-users, 25px, 10px);
        }
    }
    .openstack-panel > a[href="/management/billing/"] {
        @include icon($icon-billing_1, 25px, 10px);

        &.active,
        &:hover {
            @include icon($icon-billing_1, 25px, 10px);
        }
    }
    .openstack-panel > a[href="/management/tickets/"] {
        @include icon($icon-tickets, 25px, 10px);

        &.active,
        &:hover {
            @include icon($icon-tickets, 25px, 10px);
        }
    }
    .openstack-panel > a[href="/management/project_users/"] {
        @include icon($icon-project_users, 25px, 10px);

        &.active,
        &:hover {
            @include icon($icon-project_users, 25px, 10px);
        }
    }
    .openstack-panel > a[href="/project/load_balancer/"] {
        @include icon($icon-load_balancer, 25px, 10px);

        &.active,
        &:hover {
            @include icon($icon-load_balancer, 25px, 10px);
        }
    }
    .openstack-panel > a[href="/project/clusters/"] {
        @include icon($icon-coe_clusters, 25px, 10px);

        &.active,
        &:hover {
            @include icon($icon-coe_clusters, 25px, 10px);
        }
    }
    .openstack-panel > a[href="/project/cluster_templates/"] {
        @include icon($icon-coe_cluster_templates, 25px, 10px);

        &.active,
        &:hover {
            @include icon($icon-coe_cluster_templates, 25px, 10px);
        }
    }
    .openstack-panel > a[href="/project/server_groups/"] {
        @include icon($icon-server_groups, 25px, 10px);

        &.active,
        &:hover {
            @include icon($icon-server_groups, 25px, 10px);
        }
    }
    .openstack-panel > a[href="/management/account/"] {
        @include icon($icon-account, 25px, 10px);

        &.active,
        &:hover {
            @include icon($icon-account, 25px, 10px);
        }
    }

}
