// BASE
.page-header {
    border-bottom: 2px solid $catBrown;
    padding-bottom: 0;
    h1 {
      color: $catBrown;
      font-weight: 700;
      color: $catBrown;
    }
}

// some pages don't seem to have any space at the bottom
// this fixes that
#content_body {
    padding-bottom: 10px;
}

form.actions_column {
    font-family: inherit;
}

.table-bordered tr.table_caption + tr th:last-child {
    border-radius: 0;
}

.tfoot span,
tfoot.table_count,
tfoot .table_count {
    font-size: $font-size-base;
}

// FORM FOCUS STYLING
.form-control:focus, .datepicker input:focus {
    border-color: $cloudLightBlue;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
                0 0 8px transparentize($cloudLightBlue, 0.5);
}

#activity > span {
    margin-right:5px;

    &:last-child {
        margin-right:0;
    }
}

input[type=file].switched {
    width: 100%;
}

// HELP ICON NEXT TO FORM LABEL
.help-icon .fa.fa-question-circle {
    color: $cloudLightBlue;
}

.has-feedback .form-control-feedback.search-icon,
.form-control-feedback.search-icon {
    top: 0;
}

// modal-dialog-wizard elements
.transfer-allocated {
    table thead {
        color: $text-color;
        background-color: $cloudLighterBlue;
    }
}

// DATE PICKER
.datepicker table thead tr {
    background-color: #eeeeee;
}

.datepicker {
    table tr {
        td.active:hover,
        td.active:hover:hover,
        td.active.disabled:hover,
        td.active.disabled:hover:hover,
        td.active:focus,
        td.active:hover:focus,
        td.active.disabled:focus,
        td.active.disabled:hover:focus,
        td.active:active,
        td.active:hover:active,
        td.active.disabled:active,
        td.active.disabled:hover:active,
        td.active.active,
        td.active.active:hover,
        td.active.disabled.active,
        td.active.disabled.active:hover,
        .open & {
            background-color: $faintBlue;
            border-color: darken($faintBlue, 5%);
        }

        th {
            border-radius: 0;
        }
    }
}
