// These variables were formerly in _horizon-variables, but have since been removed from the core
// Horizon code. They have been added here as some custom source code still refers to them.

$sidebar-box-shadow-color: transparent;
$sidebar-box-shadow: none;
$sidebar-background-color: $cloudLighterBlue;
$sidebar-active-color: $cloudDarkBlue;
$sidebar-active-indicator-width: $caret-width-base;
$sidebar-active-box-shadow: none;
