{% load branding i18n staticfiles %}
{% load load_config from horizon %}

{% load_config as HORIZON_CONFIG %}


{% comment %}

    NB: The context for 500 pages is an empty dict.
        Don't add any content here that depends on things from
        the context.

{% endcomment %}

<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <link rel="shortcut icon" href="{% static "dashboard/img/favicon.ico" %}"/>
    <title>{% trans "Server error" %} - {% site_branding %}</title>
    {% block css %}
    <style>

      h1 ,h2 ,h3, a, p {
        font-family: Lato,Helvetica,Arial,sans-serif;
      }

      p {
        color: #190F10;
      }

      a {
          color: #428bca;
          text-decoration: none;
          width: auto;
      }

      #links a:not(:last-child):after {
          content: " | ";
          padding: 0 10px;
      }

      body {
        color: #1D414E;
        text-align: center;
        font-weight: normal;
        background: none repeat scroll 0% 0% #1D414E;
      }

      div#container {
        background: url("{% static "themes/catalyst/img/logo-splash.png" %}") no-repeat scroll center 35px padding-box #ffffff;
        background-size: 80% auto;
        border: 1px solid #000000;
        left: 50%;
        margin: 0px 0px 0px -200px;
        padding-top: 150px;
        position: absolute;
        top: 80px;
        width: 400px;
        padding: 120px 20px 20px 20px;
        box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
      }

      h2 {
        font-weight: normal;
      }

      div#container > div {
        padding: 25px;
      }
    </style>
    {% endblock %}
  </head>
  <body id="{% block body_id %}{% endblock %}" class="">
    {% block page_header %}{% endblock %}
    {% block content %}
    <div id="container">
      <div id="text">
        {% block text %}
        <h1>{% trans "Something went wrong!" %}</h1>
        <p>{% trans "An unexpected error has occurred. Try refreshing the page. If that doesn't help, contact your local administrator." %}</p>
        {% endblock %}
      </div>
      <div id="links">
        {% block links %}
        <a href="/">{% trans "Home" %}</a>
        <a href="{{ HORIZON_CONFIG.help_url }}">{% trans "Help" %}</a>
        {% endblock %}
      </div>
    </div>
    {% endblock %}
    {% block footer %}{% endblock %}
    {% block js %}{% endblock %}
  </body>
</html>
