
<div class="terms-conds">
  <p>By using the Catalyst Cloud you agree to the <a href="https://catalystcloud.nz/about/terms-and-conditions/" rel="noreferrer noopener" target="_blank">terms and conditions</a>.</p>
  <p>Don't have an account? <a href="https://catalystcloud.nz/signup/" rel="noreferrer noopener" target="_blank">Sign up for the Catalyst Cloud</a>.</p>
</div>
