<!-- Piwik -->
<script type="text/javascript">
   var _paq = _paq || [];
   var context_project = $('.context-project').text();
   var context_region = $('.context-region').text();
   _paq.push(['setCustomVariable', 1, 'project', context_project, 'page']);
   _paq.push(['setCustomVariable', 2, 'region', context_region, 'page']);
   _paq.push(['trackPageView']);
   _paq.push(['enableLinkTracking']);
   (function() {
     var u="//www.catalyst-analytics.nz/";
     _paq.push(['setTrackerUrl', u+'piwik.php']);
     _paq.push(['setSiteId', 63]);
     var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
     g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
   })();
</script>
<noscript><p><img src="//www.catalyst-analytics.nz/piwik.php?idsite=63" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
