{% load i18n %}

<ul class="dropdown-menu">
  <li class="dropdown-header">{% trans "Regions:" %}</li>
  {% for region in regions %}
  <li>
    <a class="{% if region == region_name %} dropdown-selected{% endif %}"
       href="{% url 'switch_services_region' region %}?next={{ page_url }}"
       target="_self">
      {% if region == region_name %}
      <span class="fa fa-check dropdown-selected-icon"></span>
      {% endif %}
      <span class="region-name dropdown-title">
        {{ region }}
      </span>
    </a>
  </li>
  {% endfor %}
</ul>
