{% load i18n %}

{% spaceless %}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      {% include "header/_brand.html" %}

      <button id="sidebar-toggle" type="button" class="navbar-toggle pull-left">
        <span class="sr-only">{% trans "Toggle navigation" %}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">{% trans "Toggle navigation" %}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        {% include "header/_context_selection.html" %}
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li id="extensible-header" class="extensible-header"></li>
        {% if profiler_enabled %}
          {% include "developer/profiler/_mode_picker.html" %}
        {% endif %}
        {% include "header/_keystone_provider_selection.html" %}
        {% include "header/_support_menu.html" %}
        {% include "header/_user_menu.html" %}
        {% include "header/_region_selection.html" %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endspaceless %}
