{% load i18n %}
{% load themes %}
{% if not_list %}
  <div class="dropdown">
{% else %}
  <li class="dropdown">
{% endif %}
  <a href="#" data-toggle="dropdown" class="dropdown-toggle" role="button" aria-expanded="false">
    <span class="fa fa-support"></span>
    Support
    <span class="fa fa-caret-down"></span>
  </a>
  <ul id="editor_list" class="dropdown-menu">
    <li>
      <a href="http://docs.catalystcloud.nz/" target="_blank">
        <span class="fa fa-book"></span>
        Documentation
      </a>
    </li>
    <li>
      <a href="/management/tickets/">
        <span class="fa fa-ticket"></span>
        Support Requests
      </a>
    </li>
    <li>
      <a href="https://catalystcloud.nz/support/premium-support/" target="_blank">
        <span class="fa fa-rocket"></span>
        Premium Support
      </a>
    </li>
    <li>
    <li>
      <a href="https://www.catalyst.net.nz/content/cloud-training" target="_blank">
        <span class="fa fa-graduation-cap"></span>
        Training
      </a>
    </li>
    <li>
      <a href="https://catalystcloud.nz/support/status/" target="_blank">
        <span class="fa fa-heartbeat"></span>
        Cloud Status
      </a>
    </li>
  </ul>
{% if not_list %}
  </div>
{% else %}
  </li>
{% endif %}
